# Ignore ASL dataset folders
ASL_Dataset/
WLASL/

# Python cache and environment
__pycache__/
*.pyc
*.pyo
*.pyd
.env
venv/

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# VS Code settings
.vscode/
